# RabbitMQ (mesmo broker dos outros módulos)
RABBITMQ_URL=amqp://financepowder:rgs050601@rabbitmq.financepowder.cloud/

# Fila própria do gerador OmniVoice
RABBITMQ_OMNI_QUEUE=omni_audio_jobs

# Exchange de progresso (SSE)
RABBITMQ_OMNI_PROGRESS_EXCHANGE=omni_audio_progress
